@model Department
@{
    ViewData["Title"] = "Edit";
}

<div class="p-3 container">
    <h5 class="font-weight-bold">Edit Department</h5>

    <form asp-action="Edit" asp-controller="Department">
        <div class="form-group">
            <label asp-for="Code"></label>
            <input class="form-control" asp-for="Code" value="@Model.Code" />
            <span class="text-danger" asp-validation-for="Code"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfCreation"></label>
            <input class="form-control" asp-for="DateOfCreation" />
            <span class="text-danger" asp-validation-for="DateOfCreation"></span>
        </div>
        <input type="submit" class="btn btn-info mx-2" value="Save" />
        <button asp class="btn p-0"> <a asp-action="Index" class="btn btn-danger">Cancel</a>  </button>
    </form>


</div>


@section Validation
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

