@model Employee
@{
    ViewData["Title"] = "Update";
}

<div class="container py-5">
    <h1 class="font-italic font-weight-bold">Create New Employee</h1>

    <form asp-action="Update">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger font-weight-bold" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label>
            <input class="form-control" asp-for="Age">
            <span class="text-danger font-weight-bold" asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender"></label>
            <input class="form-control" asp-for="Gender">
            <span class="text-danger font-weight-bold" asp-validation-for="Gender"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email">
            <span class="text-danger font-weight-bold" asp-validation-for="Email"></span>
        </div>
        <div class="form-check">
            <input class="form-check-input" asp-for="IsActive">
            <label class="form-check-label" asp-for="IsActive">
            </label>
            <span class="text-danger font-weight-bold" asp-validation-for="IsActive"></span>
        </div>
        <div class="form-group">
            <label asp-for="Salary"></label>
            <input class="form-control" asp-for="Salary">
            <span class="text-danger font-weight-bold" asp-validation-for="Salary"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-dark" asp-action="Index">Cancel </a>
    </form>



</div>


@section Validation
            {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}